<div class="superhero-form">
  <mat-card class="superhero-form__card">
    <h1 class="superhero-form__title">{{ isEditMode() ? 'Editar héroe' : 'Nuevo héroe' }}</h1>

    <div class="superhero-form__divider"></div>
    @if (loading()) {
      <div class="superhero-form__loading">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    } @else {
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="superhero-form__form">
        <div class="superhero-form__fields">
          <mat-form-field appearance="outline" class="superhero-form__field input-form">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" appUppercase placeholder="Ej: Spider-Man" />
            @if (form.controls.name.hasError('required') && form.controls.name.touched) {
              <mat-error>El nombre es obligatorio</mat-error>
            }
            @if (form.controls.name.hasError('minlength')) {
              <mat-error>Mínimo 2 caracteres</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="superhero-form__field input-form">
            <mat-label>Poder principal</mat-label>
            <input
              matInput
              formControlName="power"
              placeholder="Ej: Sentido arácnido, trepar muros"
            />
            @if (form.controls.power.hasError('required') && form.controls.power.touched) {
              <mat-error>El poder es obligatorio</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="superhero-form__field input-form">
            <mat-label>Editorial</mat-label>
            <input matInput formControlName="publisher" placeholder="Ej: Marvel" />
            @if (form.controls.publisher.hasError('required') && form.controls.publisher.touched) {
              <mat-error>La editorial es obligatoria</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="superhero-form__actions">
          <button
            mat-flat-button
            class="superhero-form__btn"
            [class]="
              serviceIsLoading() ? 'superhero-form__btn--disabled' : 'superhero-form__btn--cancel'
            "
            (click)="onCancel()"
            [disabled]="serviceIsLoading()"
          >
            <span class="superhero-form__btn-content">
              <span class="superhero-form__btn-left">
                <span>Cancelar</span>
              </span>
            </span>
          </button>

          <button
            mat-flat-button
            class="superhero-form__btn superhero-form__btn--primary"
            [class]="
              serviceIsLoading() ? 'superhero-form__btn--disabled' : 'superhero-form__btn--submit'
            "
            type="submit"
            [disabled]="serviceIsLoading()"
          >
            @if (serviceIsLoading()) {
              <mat-spinner diameter="20"></mat-spinner>
            } @else {
              <span class="superhero-form__btn-content">
                <span class="superhero-form__btn-left">
                  <mat-icon>save</mat-icon>
                  <span>{{ isEditMode() ? 'Guardar cambios' : 'Crear héroe' }}</span>
                </span>
              </span>
            }
          </button>
        </div>
      </form>

      @if (errorMessage()) {
        <div class="superhero-form__error">
          <mat-icon>error_outline</mat-icon>
          <span>{{ errorMessage() }}</span>
        </div>
      }
    }
  </mat-card>
</div>
