<div class="superhero-form">
  <mat-card class="superhero-form__card">
    <h1 class="superhero-form__title">{{ isEditMode() ? 'Editar héroe' : 'Nuevo héroe' }}</h1>

    <div class="superhero-form__divider"></div>
    @if (loading()) {
      <div class="superhero-form__loading">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    } @else {
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="superhero-form__form">
        <div class="superhero-form__fields">
          <mat-form-field appearance="outline" class="superhero-form__field input-form">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" appUppercase placeholder="Ej: Spider-Man" />
            @if (form.controls.name.hasError('required') && form.controls.name.touched) {
              <mat-error>El nombre es obligatorio</mat-error>
            }
            @if (form.controls.name.hasError('minlength')) {
              <mat-error>Mínimo 2 caracteres</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="superhero-form__field input-form">
            <mat-label>Poder principal</mat-label>
            <input
              matInput
              formControlName="power"
              placeholder="Ej: Sentido arácnido, trepar muros"
            />
            @if (form.controls.power.hasError('required') && form.controls.power.touched) {
              <mat-error>El poder es obligatorio</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="superhero-form__field input-form">
            <mat-label>Editorial</mat-label>
            <input matInput formControlName="publisher" placeholder="Ej: Marvel" />
            @if (form.controls.publisher.hasError('required') && form.controls.publisher.touched) {
              <mat-error>La editorial es obligatoria</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="superhero-form__actions">
          <app-ui-button innerText="Cancelar" (onClick)="onCancel()" [disabled]="isLoading()" />
          <app-ui-button
            type="submit"
            variant="primary"
            leftMatIcon="save"
            [innerText]="isLoading() ? '' : isEditMode() ? 'Guardar cambios' : 'Crear héroe'"
            [disabled]="isLoading()"
            [showSpinner]="isLoading()"
          />
        </div>
      </form>

      @if (errorMessage()) {
        <div class="superhero-form__error">
          <mat-icon>error_outline</mat-icon>
          <span>{{ errorMessage() }}</span>
        </div>
      }
    }
  </mat-card>
</div>
