<div class="superhero-list">
  <div class="superhero-list__container">
    <div class="superhero-list__header">
      <div>
        <h1 class="superhero-list__title">Listado de héroes</h1>
      </div>

      <button mat-flat-button class="superhero-list__add-btn" (click)="goToAdd()">
        <mat-icon>add</mat-icon>
        Agregar héroe
      </button>
    </div>

    <mat-form-field appearance="outline" class="superhero-list__search input-form">
      <input
        matInput
        placeholder="Buscar héroe..."
        [value]="keyword()"
        (input)="onFilterChange($any($event.target).value)"
      />

      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    @if (errorMessage()) {
      <div class="superhero-list__error">
        <mat-icon>error_outline</mat-icon>

        <span>{{ errorMessage() }}</span>
      </div>
    }

    <div class="superhero-list__table">
      @if (loading() || serviceIsLoading()) {
        <div class="superhero-list__loading">
          <mat-spinner diameter="42"></mat-spinner>
        </div>
      } @else {
        <table mat-table [dataSource]="pagedSuperHeroes()">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>

            <td mat-cell *matCellDef="let superhero">
              {{ superhero.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="power">
            <th mat-header-cell *matHeaderCellDef>Poder</th>

            <td mat-cell *matCellDef="let superhero">
              {{ superhero.power }}
            </td>
          </ng-container>

          <ng-container matColumnDef="publisher">
            <th mat-header-cell *matHeaderCellDef>Editorial</th>

            <td mat-cell *matCellDef="let superhero">
              {{ superhero.publisher }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>

            <td mat-cell *matCellDef="let superhero">
              <div class="actions">
                <button mat-icon-button class="edit" (click)="goToEdit(superhero.id)">
                  <mat-icon>edit</mat-icon>
                </button>

                <button
                  mat-icon-button
                  class="delete"
                  (click)="onDelete(superhero.id, superhero.name)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        @if (pagedSuperHeroes().length === 0) {
          <div class="superhero-list__empty">No se encontraron héroes</div>
        }
      }
    </div>

    <mat-paginator
      [length]="totalSuperHeroes()"
      [pageSize]="pageSize()"
      [pageIndex]="pageIndex()"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
