<div class="home">
  <mat-card class="home__card">
    <div class="home__logo">
      <mat-icon class="home__icon">bolt</mat-icon>
    </div>

    <h1 class="home__title">RIU Frontend Challenge</h1>

    <div class="home__divider"></div>

    <div class="home__actions">
      <app-ui-button
        innerText="Ver listado"
        leftMatIcon="list"
        rightArrowMatIcon="chevron_right"
        (buttonClick)="goToList()"
      />

      <app-ui-button
        innerText="Agregar héroe"
        leftMatIcon="add_circle"
        rightArrowMatIcon="chevron_right"
        variant="primary"
        (buttonClick)="goToAdd()"
      />

      <a
        class="home__link"
        href="https://diegodanielcaceres10.github.io/nura/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="home__link-content">
          <span>Ver mi portfolio</span>

          <mat-icon class="home__link-arrow"> chevron_right </mat-icon>
        </span>
      </a>
    </div>
  </mat-card>
  <div class="logo__author">
    <picture>
      <source srcset="assets/diegodanielcaceres/diegodanielcaceres.avif" type="image/avif" />
      <source srcset="assets/diegodanielcaceres/diegodanielcaceres.webp" type="image/webp" />
      <img
        ngSrc="assets/diegodanielcaceres/diegodanielcaceres.svg"
        width="512"
        height="130"
        alt="Diego Daniel Caceres Logo"
        decoding="async"
        fetchpriority="high"
      />
    </picture>
  </div>
</div>
