<div class="home">
  <mat-card class="home__card">
    <div class="home__logo">
      <mat-icon class="home__icon">bolt</mat-icon>
    </div>

    <h1 class="home__title">RIU Frontend Challenge</h1>

    <div class="home__divider"></div>

    <div class="home__actions">
      <button mat-flat-button class="home__btn home__btn--light" (click)="goToList()">
        <span class="home__btn-content">
          <span class="home__btn-left">
            <mat-icon>list</mat-icon>
            <span>Ver listado</span>
          </span>

          <mat-icon class="home__btn-arrow"> chevron_right </mat-icon>
        </span>
      </button>

      <button mat-flat-button class="home__btn home__btn--primary" (click)="goToAdd()">
        <span class="home__btn-content">
          <span class="home__btn-left">
            <mat-icon>add_circle</mat-icon>
            <span>Agregar héroe</span>
          </span>

          <mat-icon class="home__btn-arrow"> chevron_right </mat-icon>
        </span>
      </button>

      <a
        mat-flat-button
        class="home__btn home__btn--light"
        href="https://diegodanielcaceres10.github.io/nura/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="home__btn-content">
          <span class="home__btn-left">
            <mat-icon>badge</mat-icon>
            <span>Ver mi portfolio</span>
          </span>

          <mat-icon class="home__btn-arrow"> chevron_right </mat-icon>
        </span>
      </a>
    </div>
  </mat-card>
</div>
